.container {
  border: 0.3px solid #ccc;
  border-radius: 7px !important;
  background: #fff;
  margin-bottom: 15px !important;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.27);
}

.container:hover {
  cursor: pointer;
  background: #da4453; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container:hover p {
  color: white;
}

.container p {
  font-family: 'Nunito', sans-serif !important;
  font-size: 16px !important;
}

.selected {
  border: 0.3px solid black;
}

.image {
  width: auto;
  height: 50px !important;
}

.closeIcon {
  padding: 10px;
}

.closeIcon:hover {
  color: red !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

.locked {
  opacity: 0.5 !important;
}

.locked:hover {
  cursor: not-allowed !important;
}
