.outerContainer {
  text-align: center;
  margin: 50px auto;
}

.innerContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 400px 400px;
  margin: 40px auto;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 768px) {
  .innerContainer {
    display: flex;
    flex-direction: column;
  }
}