@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.ant-select-selection__placeholder {
  color: '#000000';
}

.teko-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
